<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A detection demo.">
    <meta name="author" content="Eric Tzeng <etzeng@eecs.berkeley.edu>">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>LSDA: Large Scale Detection through Adaptation</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
  </head>

  <body>
    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
        <h1>LSDA: Large Scale Detection through Adaptation</h1>
        <!-- <a href="{{ url_for('about') }}">About this demo</a> -->
      </div>
      <p class="lead">Provide an image and let us run detection on it.</p>
      <p> Too lazy? <a href="/classify_url?imageurl=https%3A%2F%2Fraw.githubusercontent.com%2Frbgirshick%2Frcnn%2Fmaster%2Fexamples%2Fimages%2Ffish-bike.jpg">Just click here</a> for a simple bike example.</p>

      {% if has_result %}
      <hr>
      {% if not result[0] %}
      <!-- we have error in the result. -->
      <div class="alert alert-danger">{{ result[1] }} Did you provide a valid URL or a valid image file? </div>
      {% else %}
      <div class="text-center">
          <img width="512" src={{ imagesrc }}>
      </div>
      <p> Detection took {{ result[2] }} seconds. </p>
      {% endif %}
      <hr>
      {% endif %}
     
      <form role="form" action="classify_url" method="get">
        <div class="form-group">
          <label for="imageurl">Provide an Image URL:</label>
          <div class="input-group">
            <input type="text" class="form-control" name="imageurl" id="imageurl" placeholder="url">
            <span class="input-group-btn">
              <input class="btn btn-primary" value="Classify URL" type="submit" id="classifyurl"></input>
            </span>
          </div><!-- /input-group -->
        </div>
      </form>
      
      <form class="form-inline" role="form" action="classify_upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="imagefile">Or upload a local image:</label>
          <input type="file" name="imagefile" id="imagefile">
        </div>
        <input type="submit" class="btn btn-primary" value="Classify File" id="classifyfile"></input>
      </form>
      
    </div>

    <hr>
    <div id="footer">
      <div class="container">
        <p>&copy; Copyright 2014</p>
      </div>
    </div>
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.js"></script>
    <script type="text/javascript">
      $(document).ready(
        function(){
          $('#classifyfile').attr('disabled',true);
          $('#imagefile').change(
            function(){
              if ($(this).val()){
                $('#classifyfile').removeAttr('disabled');
              } else {
                $('#classifyfile').attr('disabled',true);
              }
            }
          );
        }
      );
    </script>

  </body>
</html>
