[submodule "caffe"]
	path = caffe
	url = https://github.com/BVLC/caffe
	branch = dev
[submodule "rcnn"]
	path = rcnn
	url = https://github.com/rbgirshick/rcnn
	branch = ilsvrc
[submodule "giss"]
	path = giss
	url = https://github.com/erodner/giss
	branch = master	
